flows.json
[{"id":"c9ee782a.ba4ef8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cfb230dd.f7739","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"168ac686.db4309","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"71afd856.c519a8","type":"ui_group","z":"","name":"MachineLearning","tab":"3565257b.b3aeca","disp":true,"width":"6","collapse":false},{"id":"3565257b.b3aeca","type":"ui_tab","z":"","name":"SIP","icon":"dashboard","disabled":false,"hidden":false},{"id":"c8c6faa4.f92fd8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3aab3a7e.4ec9a6","type":"inject","z":"c9ee782a.ba4ef8","name":"","topic":"","payload":"helloworld","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":43,"wires":[["d37b07c.d7333f8"]]},{"id":"d37b07c.d7333f8","type":"debug","z":"c9ee782a.ba4ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":335.5,"y":55,"wires":[]},{"id":"86ece1c1.3d89c","type":"ui_form","z":"cfb230dd.f7739","name":"","label":"","group":"71afd856.c519a8","order":0,"width":0,"height":0,"options":[{"label":"R and D","value":"rd","type":"number","required":true},{"label":"Marketing Spent","value":"ms","type":"number","required":true},{"label":"Administration","value":"ad","type":"number","required":true}],"formValue":{"rd":"","ms":"","ad":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":103.50780868530273,"y":60.59765911102295,"wires":[["c4fec47f.b7a808"]]},{"id":"a298320c.d3e45","type":"ui_dropdown","z":"cfb230dd.f7739","name":"","label":"","tooltip":"","place":"Select Country","group":"71afd856.c519a8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"California","value":"California","type":"str"},{"label":"Florida","value":"Florida","type":"str"},{"label":"Spain","value":"Spain","type":"str"}],"payload":"","topic":"","x":99.52343368530273,"y":331.5976514816284,"wires":[["558878db.574b88"]]},{"id":"c4fec47f.b7a808","type":"function","z":"cfb230dd.f7739","name":"fun1","func":"global.set(\"ms\",msg.payload.ms)\nglobal.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nreturn msg;","outputs":1,"noerr":0,"x":108.51565551757812,"y":130.88282012939453,"wires":[["a5bcf684.3df5e8"]]},{"id":"558878db.574b88","type":"function","z":"cfb230dd.f7739","name":"","func":"if(msg.payload ==\"California\"){\n    global.set(\"s1\",0)\n    global.set(\"s2\",0)\n}\nelse if(msg.payload ==\"Florida\"){\n    global.set(\"s1\",0)\n    global.set(\"s2\",1)\n}\nelse if(msg.payload ==\"Spain\"){\n    global.set(\"s1\",1)\n    global.set(\"s2\",0)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":276.5156898498535,"y":338.88670539855957,"wires":[["f10a5b41.d12a58"]]},{"id":"f10a5b41.d12a58","type":"debug","z":"cfb230dd.f7739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":447.50785064697266,"y":354.9140577316284,"wires":[]},{"id":"a5bcf684.3df5e8","type":"http request","z":"cfb230dd.f7739","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":322.5117301940918,"y":57.800787925720215,"wires":[["e13d776a.a53098","ff835c61.95fd5"]]},{"id":"ff835c61.95fd5","type":"function","z":"cfb230dd.f7739","name":"fun2","func":"var token =msg.payload.token\nvar ad =global.get(\"ad\")\nvar ms =global.get(\"ms\")\nvar rd =global.get(\"rd\")\nvar s1= global.get(\"s1\")\nvar s2= global.get(\"s2\")\nmsg.payload ={\"fields\" :[\"s1\",\"s2\",\"rd\",\"ms\",\"ad\"],\"values\":[[s1,s2,rd,ms,ad]]}\nmsg.headers={'Authorization':'Bearer'+token}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":311.5118007659912,"y":130.87897109985352,"wires":[["2227da8c.a59e36"]]},{"id":"e13d776a.a53098","type":"debug","z":"cfb230dd.f7739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560.5233459472656,"y":45.921875,"wires":[]},{"id":"5bcbda3c.3dad34","type":"debug","z":"cfb230dd.f7739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":557.5138931274414,"y":214.93408584594727,"wires":[]},{"id":"edfcda68.f4d538","type":"ui_dropdown","z":"cfb230dd.f7739","name":"","label":"","tooltip":"","place":"Select Gender","group":"71afd856.c519a8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Female","value":"Female","type":"str"},{"label":"Other","value":"Other","type":"str"}],"payload":"","topic":"","x":87.5078125,"y":407.59765911102295,"wires":[[]]},{"id":"3c809009.1c052","type":"function","z":"cfb230dd.f7739","name":"fun3","func":"msg.payload=msg\nreturn msg;","outputs":1,"noerr":0,"x":535.5277671813965,"y":123.91321182250977,"wires":[[]]},{"id":"2227da8c.a59e36","type":"http request","z":"cfb230dd.f7739","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0fb7da03-4057-4b9d-81cc-7cb83b7e3501/deployments/e777507a-495c-4837-a3a3-603c769005da/online","tls":"","proxy":"","authType":"basic","x":315.017333984375,"y":228.01042461395264,"wires":[["3c809009.1c052","5bcbda3c.3dad34"]]}]